@import './theme/default';
@import './theme/font';

.has-error {
  .zent-form-label {
    color: $theme-error-4;
  }
}

.zent-form {
  $p: &;

  &-label {
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-flex;
    flex-basis: 120px;

    &.zent-form-label-required {
      &::before {
        content: '*';
        display: inline-block;
        color: $theme-error-1;
        font-size: 16px;
        margin-right: 6px;
      }
    }
  }

  &-error {
    color: $theme-error-4;
  }

  &-notice,
  &-description {
    line-height: 14px;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0;
    color: $theme-stroke-3;

    ul li {
      font-size: 12px;
      line-height: 12px;
    }

    a {
      color: $theme-primary-2;
    }

    &:empty {
      margin-top: 0;
    }
  }

  &-notice {
    background: $theme-warn-3;
    color: $theme-stroke-1;
    display: inline-block;
    padding: 5px;
  }

  &-control {
    display: flex;
    line-height: 30px;
    margin-bottom: 20px;
  }

  &-vertical {
    & #{$p}-label {
      flex-basis: auto;
    }

    & #{$p}-control {
      flex-direction: column;

      &-content {
        flex: 0 0 auto;
      }
    }
  }

  &-horizontal {
    & #{$p}-label {
      flex-basis: 120px;
      justify-content: flex-end;
    }

    & #{$p}-control {
      flex-direction: row;

      &-content {
        flex: 1 1 100%;
        margin-left: 10px;
      }
    }

    #{$p}__form-actions {
      padding: 0 0 0 130px;
      margin: 25px 0 10px;
      background: none;
      border: 0;
    }
  }
}
